*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --ff-primary: 'Poppins', sans-serif;
  --fw-regular: 400;
  --fw-semibold:600;
  --fw-bold:700;
}
body{
  font-family: var(--ff-primary);
}
img{
  width: 100%;
}
.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  height: 4.5rem;
  box-shadow:0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.logo__img{
  margin-left: 2rem;
  width: 100px;
  object-fit: cover;
  overflow: hidden;
}

.hero{
  padding: 4rem;
  
}
.hero__img{
  display: block;
  max-width: 600px;
  margin: 0 auto;
}
h1{
  font-weight: 700;
  font-size: 2.25rem;
  padding-top: 4rem;
}
h4{
  font-weight: var(--fw-regular);
  padding-top: 1rem;
  max-width: 350px;
}

/* Card Item*/
.section__cards{
  padding: 4rem;

}
.card__grid{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-inline: 1rem;
  flex-wrap: wrap;
}
.card{
  position: relative;
  width: 170px;
  
}
.card__img{
  height: 230px;
  border-radius: 9px;
}
.card__status{
  position: absolute;
  top:0;
  left:0;
  background-color: white;
  border-radius: 2px;
  margin: 0.5rem;
  padding: 0.2rem;
  font-size: 0.6rem;
  text-transform: uppercase;
  
}
.card__stats{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  font-size: 0.75rem;
}
.card__star{
  width: 14px;
  height: 14px;
  
}
.rating{
  font-weight: var(--fw-semibold);
}
.stock{
  color:#918E9B
}
.country{
  color:#918E9B
}
.card__title{
  font-size: 0.7rem;
  padding: 0.5rem 0 0.5rem 0;
}
.card__price-data{
  font-size: 0.7rem;
}
.card__price{
  font-weight: var(--fw-bold);
}